<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="pt-br, en" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index,follow" />

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="subject" content="<%= htmlWebpackPlugin.options.subject %>" />

    <base href="<%= htmlWebpackPlugin.options.base %>" />
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>" />

    <meta name="google-site-verification" content="<%= htmlWebpackPlugin.options.google.VerifyToken %>" />

    <meta name="DC.title" content="<%= htmlWebpackPlugin.options.geotag.DcTitle %>" />
    <meta name="geo.region" content="<%= htmlWebpackPlugin.options.geotag.GeoRegion %>" />
    <meta name="geo.placename" content="<%= htmlWebpackPlugin.options.geotag.GeoPlacename %>" />
    <meta name="geo.position" content="<%= htmlWebpackPlugin.options.geotag.GeoPosition %>" />
    <meta name="ICBM" content="<%= htmlWebpackPlugin.options.geotag.Icbm %>" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" />
  </head>
  <body>
    <noscript>
      Por favor, atualize seu navegador e tente novamente.
    </noscript>

    <div id="app" />
  </body>
</html>
