.max-width
  &-80
    max-width 80px
  &-110
    max-width 110px
  &-200
    max-width 200px
  &-210
    max-width 230px
  &-375
    max-width 375px
  &-412
    max-width 412px
  &-480
    max-width 480px
